<section class="container position-relative">
	<div class="p-4 position-relative box-content">
		{{ form_start(briefForm, {'attr': {'novalidate': 'novalidate', 'id': 'brief-form'}}) }}

		{% if errors is defined and errors|length > 0 %}
			<div class="form-group my-5">
				<div class="row my-3">
					<div class="col-sm-12 alert alert-danger">
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}


		<div class="form-group my-5">
			<div class="row my-3">
				<div class="col-sm-12">
					{{ form_row(briefForm.status) }}
				</div>
			</div>
		</div>

		<h3>Informations de contact</h3>

		<div class="form-group my-5">
			<div class="row">
				<div class="col-sm-6">
					{{ form_label(briefForm.customer_name) }}
					{{ form_widget(briefForm.customer_name) }}
				</div>
				<div class="col-sm-6">
					{{ form_label(briefForm.customer_lastname) }}
					{{ form_widget(briefForm.customer_lastname) }}
				</div>
			</div>
		</div>

		<div class="form-group my-5">
			<div class="row">
				<div class="col-sm-6">
					{{ form_label(briefForm.company) }}
					{{ form_widget(briefForm.company) }}

				</div>
				<div class="col-sm-6">
					{{ form_label(briefForm.phone) }}
					{{ form_widget(briefForm.phone) }}
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ form_label(briefForm.email) }}
					{{ form_widget(briefForm.email) }}
				</div>
			</div>
		</div>

		<div class="form-group my-5">

			<div class="row">
				<div class="col-sm-6">
					{{ form_row(briefForm.type) }}
				</div>
				<div class="col-sm-6">
					{{ form_row(briefForm.online_date) }}
				</div>
			</div>
		</div>

		<h3>Site web et environnement</h3>

		<div class="form-group my-5">

			<h4>Site web 1</h4>

			<div id="websites-container">
				{% for website in briefForm.websites %}

					<div class="row">
						<div class="col-sm-12">
							{{ form_label(website.front_access) }}
							{{ form_widget(website.front_access) }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							{{ form_label(website.back_access) }}
							{{ form_widget(website.back_access) }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							{{ form_label(website.login) }}
							{{ form_widget(website.login) }}

						</div>
						<div class="col-sm-6">
							{{ form_label(website.password) }}
							{{ form_widget(website.password) }}
						</div>
					</div>


				{% endfor %}
			</div>

		</div>

		<h3>Nom de domaine</h3>

		<div class="form-group my-5">

			<h4>Domaine 1</h4>

			<div id="domains-container">
				{% for domain in briefForm.domains %}

					<div class="row">
						<div class="col-sm-6">
							{{ form_row(domain.subscription) }}
						</div>
						<div class="col-sm-6">
							{{ form_row(domain.existing) }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							{{ form_label(domain.name) }}
							{{ form_widget(domain.name) }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							{{ form_label(domain.host) }}
							{{ form_widget(domain.host) }}
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							{{ form_label(domain.login) }}
							{{ form_widget(domain.login) }}
						</div>
						<div class="col-sm-6">
							{{ form_label(domain.password) }}
							{{ form_widget(domain.password) }}
						</div>
					</div>

				{% endfor %}
			</div>

		</div>

		<h3>Charte graphique et choix du pack</h3>

		<div class="form-group my-5">

			<div class="row">
				<h4>
					Choix du pack
				</h4>
			</div>


			<div class="form-group my-5">

				<p id="message_pack" style="display: none;" class="alert alert-warning">Merci de sélectionner le pack souhaité dans le champ
					<b>"Typologie"</b>
					du formulaire pour afficher les différents templates.</p>

				{# Champ conditionné Pack Artisan #}

				<div id="brief_pack-artisan" class="row">
					{% set packs = [{'img_src': 'pack-presence.png', 'label': 'Pack présence'}, {'img_src': 'pack-reference.png', 'label': 'Pack référence'}, {'img_src': 'pack-experience.png', 'label': 'Pack expérience'}] %}

					{% for i, pack in packs %}
						<div class="col-sm-4">
							<div class="text-center">
								<div class="btn-group btn-checkbox" data-toggle="buttons">
									<label for="brief_artisan_{{ i }}" class="btn btn-link">
										{{ form_widget(briefForm.artisan[i], {'attr': {'id': 'brief_artisan_' ~ i}}) }}
										<img src="{{ asset('assets/img/' ~ pack.img_src) }}" alt="{{ pack.label }}" class="img-fluid d-block">
									</label>
								</div>
								<div>
									{{ form_label(briefForm.artisan[i], pack.label) }}
								</div>
							</div>
						</div>
					{% endfor %}

				</div>


				{# Champ conditionné Pack Avocat #}

				<div id="brief_pack-avocat" class="row">

					{% set packs = [{'img_src': 'pack-eloquence.png', 'label': 'Pack éloquence'}, {'img_src': 'pack-prestance.png', 'label': 'Pack prestance'}] %}

					{% for i, pack in packs %}
						<div class="col-sm-6">
							<div class="text-center">
								<div class="btn-group btn-checkbox" data-toggle="buttons">
									<label for="brief_avocat_{{ i }}" class="btn btn-link">
										{{ form_widget(briefForm.avocat[i], {'attr': {'id': 'brief_avocat_' ~ i}}) }}
										<img src="{{ asset('assets/img/' ~ pack.img_src) }}" alt="{{ pack.label }}" class="img-fluid d-block">
									</label>
								</div>
								<div>
									{{ form_label(briefForm.avocat[i], pack.label) }}
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>


			<div class="form-group my-5">
				<div class="row my-3">
					<div>
						{{ form_row(briefForm.logo_reused) }}
					</div>
				</div>
				<div class="row my-3">
					<div>
						{{ form_row(briefForm.content_reused) }}
					</div>
				</div>
				<div class="row my-3">
					<div>
						{{ form_row(briefForm.other_data) }}
					</div>
				</div>
			</div>

			<div class="row my-5">
				{{ form_row(briefForm.files_uploaded) }}
			</div>

			{# Affiche les fichiers déjà téléchargés en cas d'édition du brief #}
			{% if app.request.get('_route') == 'brief_edit' %}
				<div class="row my-5">

					{% for filesUploaded in brief.getFilesUploaded %}
						{% if filesUploaded is iterable %}
							{% for fileUploaded in filesUploaded %}
								{% if fileUploaded is iterable %}
									{% for file in fileUploaded %}
										<div>
											<a href="{{ asset('uploads/' ~ file) }}" target="_blank">{{ file }}</a>
										</div>
									{% endfor %}
								{% else %}
									<div>
										<a href="{{ asset('uploads/' ~ fileUploaded) }}" target="_blank">{{ fileUploaded }}</a>
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							<div>
								<a href="{{ asset('uploads/' ~ filesUploaded) }}" target="_blank">{{ filesUploaded }}</a>
							</div>
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}


			<div class="row my-5">
				{{ form_row(briefForm.more_information) }}
			</div>

		</div>

		<div class="row text-center">

			{{ form_row(briefForm.save) }}


		</div>


		{{ form_end(briefForm) }}
	</div>
</section>
