<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('assets/img/logo.svg') }}" alt="MSSC logo"></a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item mx-2">
					<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="{{ path('brief_create') }}">Créer un brief</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="{{ path('app_brief') }}">Liste des briefs</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="btn btn-lg btn-primary mx-2" href="#">Mon compte</a>
					</li>

					<li class="nav-item">
						<a class="btn btn-lg btn-primary mx-2" href="{{ path('app_logout') }}">Me déconnecter</a>
					</li>

					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
						</li>
					{% endif %}

				{% else %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>
