{% extends 'base.html.twig' %}

{% block title %}Liste des briefs
{% endblock %}

{% block body %}
	{% include '_partials/_header.html.twig' %}

	<section class="container position-relative">
		<div class="p-4 position-relative box-content">

			<div class="d-flex justify-content-end">
				<a href="{{ path('brief_create') }}" class="btn btn-primary my-4 ms-auto">Ajouter un brief</a>
			</div>

			<div
				class="row">

				<!-- Formulaire de recherche par nom de société -->
				<div class="col-md-6 my-3">
					<form method="post">
						<div class="input-group position-relative">
							<input type="text" class="search-input form-control" name="q" placeholder="Rechercher par nom de société" value="{{ app.request.get('q') }}">
							<button type="submit" class="search-btn btn input-group-prepend position-absolute"><img src="{{ asset('assets/img/search.svg') }}" alt="Rechercher"></button>
						</div>
					</form>
				</div>


				<!-- Filtre par statut -->
				<div class="col-md-6 my-3">
					<form method="post">
						<div class="input-group position-relative">
							<select class="filter-input form-control" name="status">
								<option value="">Filtrer par statut</option>
								<option value="nouveau" {{ app.request.get('status') == 'nouveau' ? 'selected' }}>Nouveau</option>
								<option value="à valider" {{ app.request.get('status') == 'à valider' ? 'selected' }}>À valider</option>
								<option value="à compléter" {{ app.request.get('status') == 'à compléter' ? 'selected' }}>À compléter</option>
								<option value="validé" {{ app.request.get('status') == 'validé' ? 'selected' }}>Validé</option>
								<option value="en cours" {{ app.request.get('status') == 'en cours' ? 'selected' }}>En cours</option>
								<option value="terminé" {{ app.request.get('status') == 'terminé' ? 'selected' }}>Terminé</option>
							</select>
							<button type="submit" class="filter-btn btn input-group-prepend position-absolute"><img src="{{ asset('assets/img/filter.svg') }}" alt="Filtrer"></button>
						</div>
					</form>
				</div>
			</div>

			<table id="briefsTable" class="table table-borderless">


				<thead>
					<tr>
						<th data-sort="0" class="text-uppercase">Typologie</th>

						<th data-sort="1" class="text-uppercase">Nom de la société</th>

						<th class="text-uppercase d-none d-md-table-cell">Date de mise en ligne souhaitée</th>

						<th data-sort="2" class="text-uppercase d-none d-md-table-cell">Choix du pack</th>

						<th class="text-uppercase">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for brief in pagination %}
						<tr class="table-{{ badgeColors[brief.id] }}">
							<td>
								<div class="d-flex flex-column align-items-start position-relative">
									<span class="badge bg-{{ badgeColors[brief.id] }} badge-table">{{ brief.status }}</span>
									<span>{{ brief.type }}</span>
								</div>
							</td>
							<td>{{ brief.company }}</td>
							<td class="d-none d-md-table-cell">{{ brief.onlineDate|date('d/m/Y') }}</td>
							<td class="d-none d-md-table-cell">{{ brief.artisan|default(brief.avocat) }}</td>
							<td>

								<a href="{{ path('brief_show', { 'id': brief.id })}}" class="mx-2"><img src="{{ asset('assets/img/show.svg') }}" alt="show" class="svg-action"></a>

								<a href="{{ path('brief_edit', { 'id': brief.id })}}" class="mx-2"><img src="{{ asset('assets/img/edit.svg') }}" alt="éditer" class="svg-action"></a>


								<a href="{{ path('brief_download', { 'id': brief.id })}}" class="mx-2" target="_blank"><img src="{{ asset('assets/img/download.svg') }}" alt="télécharger" class="svg-action"></a>


								{% include '_partials/_delete_modal.html.twig' %}

								<a href="" class="delete-btn mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal{{ brief.id }}"><img src="{{ asset('assets/img/delete.svg') }}" alt="supprimer" class="svg-action"></a>


							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">Aucun brief trouvé.</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>

			<div class="d-flex justify-content-end">
				<a href="{{ path('brief_create') }}" class="btn btn-primary my-4 ms-auto">Ajouter un brief</a>
			</div>

			{{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}


		</div>
	</section>


{% endblock %}
